---
author: saberma
desc: 分享技术实践，创业历程
---
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    {% if page.title != null %}
    <title>{{page.title}} | {{ page.desc }} - {{ page.author }}</title>
    {% else %}
    <title>{{ page.desc }} - {{ page.author }}</title>
    {% endif %}
    <link rel="stylesheet" href="/stylesheets/default.css" type="text/css" media="screen" charset="utf-8"/>
    <link rel="stylesheet" href="/stylesheets/styles.css" type="text/css" media="screen" charset="utf-8"/>
    <link rel="stylesheet" href="/stylesheets/syntax.css" type="text/css" media="screen" charset="utf-8"/>
    <link rel="stylesheet" href="/stylesheets/print.css" type="text/css" media="print" charset="utf-8"/>
    <!--[if IE]><script src="/javascripts/html5.js"></script><![endif]-->
  </head>
  <body>
    <div id="wrapper"><!-- #wrapper -->

      <header><!-- header -->
      <h1><a href="/">{{ page.author }}</a></h1>
      <h2><a href="/">{{ page.desc }}</a></h2>
      </header><!-- end of header -->

      <nav><!-- top nav -->
      <div class="menu">
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/blogs.html">Blogs</a></li>
          <li><a href="http://github.com/saberma" target="_blank">Github</a></li>
          <li><a href="/about.html">About</a></li>
        </ul>
      </div>
      </nav><!-- end of top nav -->

      <section id="main"><!-- #main content and sidebar area -->
      <div id="content">
        <article class="articlecontent">
          {{ content }}
        </article>
      </div>

      <aside>
      <section>
      <h3>Who's saberma</h3>
      <img src="/images/saberma.jpeg"/>
      <p>email(gtalk):<a href="mailto:mahb45@gmail.com">mahb45@gmail.com</a></p>
      <p>
        <a href="http://saberma.twitter.com">my twitter</a>
        <a href="http://github.com/saberma">github</a>
        <a href="http://www.douban.com/people/4034647/">douban</a>
      </p>
      </section>

      <section>
      <h3>Categories</h3>
      <ul>
        {% for post in site.posts %}
        <li><a href="{{post.url}}">{{post.title}}</a></li>
        {% endfor %}
      </ul>
      </section>

      <section>
      <h3>Sponsors</h3>
      <a href="http://www.engineyard.com"><img src="/images/sponsor_ey.jpg" alt="Engine Yard" /><a>
      <a href="http://railskits.com"><img src="/images/sponsor_railskits.gif" alt="ad" /></a>
      <br/>
      <a href="http://www.vancl.com/WebSource/WebSource.aspx?source=saberma&url=http://www.vancl.com/" target="_blank"><img src="/images/sponsor_vancl.jpg" border="0" /></a>
      <a href="http://www.agilealliance.org"><img src="/images/sponsor_agile.jpg" alt="ad" /></a>
      </section>

      </aside>

      </section><!-- end of #main content and sidebar-->

      <footer>
      <section id="footer-area">

      <section id="footer-outer-block">
      <aside class="footer-segment">
      <h4>Friends</h4>
      <ul>
        <li><a href="http://saberma.me">saberma博客</a></li>
        <li><a href="http://www.55xiaoyou.com">闪记脑力[iphone益智游戏]</a></li>
        <li><a href="http://www.sszgclub.com">甩手掌柜[多网店管理]</a></li>
        <li><a href="http://click.union.360buy.com/JdClick/?unionId=2467&t=1&to=http://www.360buy.com" target="_blank">网购上京东[省钱又放心]</a></li>
      </ul>
      </aside><!-- end of #first footer segment -->

      <aside class="footer-segment">
      <h4>Blogroll</h4>
      <ul>
        <li><a href="http://www.showeb20.com">分享网络2.0</a></li>
        <li><a href="http://2simple.cn">2Simple</a></li>
        <li><a href="http://abitno.me">A Bit? No!!!</a></li>
        <li><a href="http://daodao.org">盗盗</a></li>
      </ul>
      </aside><!-- end of #second footer segment -->

      <aside class="footer-segment">
      <h4>Coolness</h4>
      <ul>
        <li><a href="http://xianguo.com">鲜果</a></li>
        <li><a href="http://github.com">GitHub</a></li>
        <li><a href="http://www.pivotaltracker.com">PivotalTracker</a></li>
        <li><a href="http://chinaonrails.com">ChinaOnRails</a></li>
      </ul>
      </aside><!-- end of #third footer segment -->

      <aside class="footer-segment">
      <h4>Encourage</h4>
      <p>尝试. 坚持. 分享. 宽容.</p>
      </aside><!-- end of #fourth footer segment -->

      </section><!-- end of footer-outer-block -->

      </section><!-- end of footer-area -->
      </footer>

    </div><!-- #wrapper -->

    <script>
      var _gaq = [['_setAccount', 'UA-12120506-1'], ['_trackPageview']];
      (function(d, t) {
        var g = d.createElement(t),
        s = d.getElementsByTagName(t)[0];
        g.async = true;
        g.src = '//www.google-analytics.com/ga.js';
        s.parentNode.insertBefore(g, s);
      })(document, 'script');
    </script>
    <!-- Free template created by http://freehtml5templates.com -->
  </body>
</html>
